:root[data-theme="light"] {
  --text: #100024;
  --background: #c5c0de;
  --primary: #b799d6;
  --secondary: #0f095d;
  --accent: #001c70;
}
:root[data-theme="dark"] {
  --text: #ebdbff;
  --background: #26213f;
  --primary: #472966;
  --secondary: #a8a2f6;
  --accent: #8fabff;
}

body {
  background-color: var(--background)
}

h1 {
  text-align: center
}

h1, p {
  color: var(--text)
}
