:root[data-theme="light"] {
  --text: #170631;
  --background: #c5c0de;
  --primary: #b799d6;
  --secondary: #0f095d;
  --accent: #001c70;
}
:root[data-theme="dark"] {
  --text: #ebdbff;
  --background: #26213f;
  --primary: #472966;
  --secondary: #a8a2f6;
  --accent: #8fabff;
}

.sidebar {
  width: 120px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
}

.sidebar-item {
  width: 100%;
  height: 30px;
  justify-content: center;
  align-items: center;
  padding: 18px 0;
}

.sidebar-item svg {
  font-size: 15px;
  display: block;
}

.sidebar-item button {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.tooltip {
  opacity: 0;
  color: var(--text)
}

.sidebar-item:hover .tooltip {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.layout {
  display: flex;
  height: 100vh;
}

.page {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: var(--background);
}

.home h1 {
  text-align: center;
}

h1, h2, p {
  color: var(--text);
}

.menu-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
  padding: 10%;
}

.menu-row button {
  width: 10vw;
  height: 50px;
  border-color: var(--accent);
  box-sizing: border-box;
  background-color: var(--primary);
  color: var(--text);
}

.menu-row button:hover {
  border-radius: 10px;
  background-color: var(--text);
  color: var(--primary);
  transition: all 0.10s ease-in-out;
}


